.border{
  border-bottom: 2px sold white;
}
.i{
  font-size: 38px;
  position: absolute;
  top: 10px;
  left: 34px;
  color: aqua;
}

.fc:hover {
  text-shadow: 2px red 2px;
 
}
.click:active{
  color:darkgoldenrod;
}
.nav1{
  
  background-image: linear-gradient(to bottom ,rgba(24, 18, 18, 0.87) ,black);
}

.img{
  height: 95vh;
  width: 95wh;
  background-image: linear-gradient(to right ,rgba(161, 142, 142, 0.658),rgba(211, 182, 115, 0.644)),
  url(../assets/home.jpg);
  background-size: cover;
  background-position: center;
}

body{
   padding-top: 80px;
 }

 header{
   position: fixed;
   width: 100%;
   top: 0;
  left: 0;
  z-index: 999;
 }
 
 .movie-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 20px;
   
 }
 .margin{
  margin-top: 2%;
 }

 .movie {
   border: 1px solid #ddd;
   padding: 20px;
   text-align: center;
 }

 .movie img {
   width: 100%;
   max-height: 400px;
   object-fit: cover;
   border-radius: 5px;
   margin-bottom: 10px;
 }
 .img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

 .movie h3 {
   margin-bottom: 10px;
 }

 .movie p {
   color: #888;
 }

 .style_image{
 height: 200px;
 width:100px;

 }

 .container {
  display: flex;
  width: 100%;
}

.image {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.details {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
.custom-link {
  text-decoration: none;
  color: black;
  
}
.checked {
  color: orange;
  font-size: 18px;
}
.size{
  font-size: 20px;
  font-weight: 500;
}
.alert{
  text-align: center;
}
