.border{
  border-bottom: 2px sold white;
}

.i{
  font-size: 38px;
  position: absolute;
  top: 10px;
  left: 34px;
  color: aqua;
}

.click:active{
  color:darkgoldenrod;
}
.nav1{
  
  background-image: linear-gradient(to bottom ,rgba(24, 18, 18, 0.87) ,black);
}

.img{
  height: 95vh;
  width: 95wh;
  background-image: linear-gradient(to right ,rgba(161, 142, 142, 0.658),rgba(211, 182, 115, 0.644)),
  url(../assets/home.jpg);
  background-size: cover;
  background-position: center;
}

 header{
   position: fixed;
   width: 100%;
   top: 0;
  left: 0;
  z-index: 999;
 }
 
 .movie-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 20px;
 }

 .margin{
  margin-top: 2%;
 }

 .movie {
   border: 1px solid #7a7a7a;
   padding: 20px;
   text-align: center;
 }

 .movie img {
   width: 100%;
   max-height: 400px;
   object-fit: cover;
   border-radius: 5px;
   margin-bottom: 10px;
 }

 .img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

 .movie h3 {
   margin-bottom: 10px;
 }

 .movie p {
   color: #888;

 }

 .style_image{
  max-width: 100%;
  height: auto; 
  object-fit: cover;
  background-size: contain;    
 }

 .container {
  display: flex;
  width: 100%;
}

.image {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.details {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.custom-link {
  text-decoration: none;
  color: black;
  
}

.checked {
  color: orange;
  font-size: 18px;
}

.size{
  font-size: 20px;
  font-weight: 500;
}

.alert{
  text-align: center;
}

a:link, a:visited {
 
  padding: 4px 8px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgba(226, 214, 223, 0.24);
    border-radius: 4px;
  }
.center{
  position: absolute;
  top: 25%;
  left: 35%;
  border: 2px solid #f8f1f1;
  padding: 20px;
  background-color: rgb(102, 187, 187);
  
}

body{
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 background: #fcfcfc;
 font-family: sans-serif;
}

footer{
 margin-top: 20px;
 background: #111;
 height: auto;
 width: 100%;
 padding-top: 40px;
 color: #fff;
} 

.footer-content{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
}

.footer-content h3 {
 font-size: 2.1rem;
 font-weight: 500;
 text-transform: capitalize;
 line-height: 3rem;
}

.footer-content p {
 max-width: 500px;
 margin: 10px auto;
 line-height: 1.5;
 font-size: 16px;
 color: #cacdd2;
} 

.socials{
 list-style: none;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 1rem 0 3rem 0;
}

.socials li{
 margin: 0 10px;
}

.socials a{
 text-decoration: none;
 color: #fff;
 border: 1.1px solid white;
 padding: 5px;
 border-radius: 50%;
}

.socials a i{
 font-size: 1.1rem;
 width: 20px;
 transition: color .4s ease;
}

.socials a:hover i{
 color: rgb(91, 148, 148);
}

.footer-bottom{
 background-color: #000000;
 height: 23px;
 width: 100%;
 padding-bottom: 55px;
 text-align: center;
}

  
.container{
  position: relative;
  left: -22px;
 }

 .btn{
  padding: 3px 5px;
 }