.border{
  border-bottom: 2px sold white;
}
.i{
  font-size: 38px;
  position: absolute;
  top: 10px;
  left: 34px;
  color: aqua;
}

.fc:hover {
  text-shadow: 2px red 2px;
 
}
.click:active{
  color:darkgoldenrod;
}
.nav1{
  
  background-image: linear-gradient(to bottom ,rgba(24, 18, 18, 0.87) ,black);
}

.img{
  height: 95vh;
  width: 95wh;
  background-image: linear-gradient(to right ,rgba(161, 142, 142, 0.658),rgba(211, 182, 115, 0.644)),
  url(../assets/home.jpg);
  background-size: cover;
  background-position: center;
}

body{
  background-image: url(background.jpg); 
   background-position: center;
   backface-visibility: hidden;
   background-size: cover;
  background-repeat: no-repeat;
   background-position-y:-274px ; 
   background-attachment: fixed;
 }
 header{
   position: fixed;
   width: 100%;
 }
 .movies{
   display: flex;
   justify-content: stretch;
   margin-top: 33px;
 } 
#mov{
  margin: 10px;
}



